<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>해피너스 * 최고관리자</title>

    <link rel="stylesheet" href="./css/superMain.css">
    <link rel="stylesheet" href="./css/superEmp.css">
<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="./css/owl.carousel.min.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="./css/bootstrap.min.css">


</head>
<body>



</div><nav class="main-menu">


  
    <div>
       <a class="logo" href="">
       </a> 
     </div> 
   <div class="settings"></div>
   <div class="scrollbar" id="style-1">
     
    <img src="img/logo.png" width="50" height="42", padding-bottom="20px",  padding-left="2px">

   <ul>
    
   <li class="darkerli">                                 
   <a href="/superMain">
   <i class="fa fa-user fa-lg"></i>
   <span class="nav-text"> <%= empName %>님, 안녕하세요!</span>
   </a>
   </li>   
   
   
   <li>                                   
    <a href="/superMain">
    <i class="fa fa-home fa-lg"></i>
    <span class="nav-text">메인페이지</span>
    </a>
    </li>   
       
       
     
   </li>
   <li>
   <a href="/empManage">
   <i class="fa fa-user-md"></i>
   <span class="nav-text">근무자 관리</span>
   </a>
   </li>
     
   <li >
   <a href="#">
   <i class="fa fa-desktop fa-lg"></i>
   <span class="nav-text">듀티 컨펌</span>
   </a>
   </li>
     
   </ul>

     
   <ul class="logout">
   <li>
<a href="/logout">
                            <i class="fa fa-sign-out"></i>
                           <span class="nav-text">
                               로그아웃 
                           </span>
                           
                       </a>
   </li>
   </ul>
           </nav>
           <div>
            <iframe
                   name="targetURL"
                   class="iframe-preview center"
                   width="100%"
                   height="1600"
                   style="border: none; margin-top: 10px;margin-left: 200px;width: 1180px;"
                   src="http://localhost:3000/shiftTable"
                 >
                 </iframe>
          </div>

</body>
</html>