<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>해피너스 * 일반사용자</title>

    <link rel="stylesheet" href="./css/superMain.css">
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/654444f29f.js" crossorigin="anonymous"></script>

</head>
<body>


  
    <div>
       <a class="logo" href="">
       </a> 
     </div> 
   <div class="settings"></div>
   <div class="scrollbar" id="style-1">
     
    <img src="img/logo.png" width="50" height="42", padding-bottom="20px",  padding-left="2px">

   <ul>
     
   <li>                                   
   <a href="/superMain">
   <i class="fa fa-home fa-lg"></i>
   <span class="nav-text">메인페이지</span>
   </a>
   </li>   
      
   <li>                                 
   <a href="#">
   <i class="fa fa-user fa-lg"></i>
   <span class="nav-text"> <%=empName %> </span>
   </a>
   </li>   
   
       
   <li class="darkerlishadow">
    <a href="#">
    <i class="fa fa-table"></i>
    <span class="nav-text">우리팀 듀티 확인</span>
    </a>
    </li>
      
    <li class="darkerlishadow">
    <a href="#">
    <i class="fa fa-flag-checkered"></i>
    <span class="nav-text">내 듀티 확인</span>
    </a>
    </li>
 
    <li class="darkerlishadow">
     <a href="/wanted">
     <i class="fa fa-calendar-plus-o"></i>
     <span class="nav-text">신청근무 접수</span>
     </a>
     </li>
     
   </ul>

       
     
   <ul class="logout">
   <li>
<a href="/logout">
                            <i class="fa fa-sign-out"></i>
                           <span class="nav-text">
                               로그아웃 
                           </span>
                           
                       </a>
   </li>
   </ul>
           </nav>
           

              <h1>원티드!!</h1> 

              <form action="http://localhost:5000/wanted" method="post">
                <input type="text" placeholder="날짜" name="date"/>
                <input type="text" placeholder="시프트" name="shiftCode"/>
                <button type="submit">전송</button>
              </form>


</body>
</html>